*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  max-width: 960px;
  margin: 0 auto;
  height: 240px;
}

header ul {
  display: flex;
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.first-view img {
  width: 100%;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;
}


.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;
}

.about h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.about ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about ul li:nth-child(1) {
  margin-bottom: 2rem;
}

.profile {
  margin-bottom: 2rem;
}

.works {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}

.works h1 {
  text-align: center;
}

.works_img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
  gap: 1rem;
}

.works_img img {
  width: 31%;
  max-width: 100%;

}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  gap: 2rem;
}

.news dd {
  border-bottom: solid 1px #c8c8c8;
  margin-bottom: 1rem;
}


/*contact*/
#contact {
  padding: 3rem;
  gap: 5rem;
}
#contact h1 {
  text-align: center;
  margin-bottom: 2rem;
}


#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  max-width: 960px;
  margin: 0 auto;
}
#contact dt {
  width: 15%;
}
#contact dd {
  width: 85%;
  margin-bottom: 10px;
}
#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}
#contact dd textarea {
  height: 10rem;
}
#contact .button {
  text-align: center;
}
#contact .button input {
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 15px 0;
  border: solid 1px #24292e;
}
#contact .button input:hover {
  background: #fff;
  color: #24292e;
}


/* footer*/

footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}